html {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background: black;
  color: rgb(214, 13, 13);
}

.tasks {
  margin: 0 auto;
  width: 40%;
  border: 2px solid crimson;
  display: flex;
  flex-wrap: wrap;
  color: rgb(0, 0, 0);
}

.todo {
  background: crimson;
  width: 20%;
  margin: 1rem auto;
  padding: 2rem;
}

.todocompleted {
  background: black;
  color: white;
  text-decoration: line-through;
  width: 20%;
  margin: 1rem auto;
  padding: 2rem;
}

form {
  display: flex;
  width: 20%;
  padding: 2rem;
  margin: 0 auto;
  flex-wrap: wrap;
}

input {
  width: 100%;
  margin-bottom: 1rem;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
